{#{% extends 'base.html.twig' %}#}

{#{% block title %}Edit Tournament{% endblock %}#}

{#{% block body %}#}
{#    <h1>Edit Tournament</h1>#}

{#    {{ include('tournament/_form.html.twig', {'button_label': 'Update'}) }}#}

{#    <a href="{{ path('app_tournament_index') }}">back to list</a>#}

{#    {{ include('tournament/_delete_form.html.twig') }}#}
{#{% endblock %}#}



{% extends 'base.html.twig' %}

{% block title %}Редактирование турнира{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Редактирование турнира</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_tournament_index') }}">
                    Список турниров
                </a>
            </div>
            <div class="card-body">
                {% include 'tournament/_form.html.twig' with {'button_label': 'Обновить', 'button_color': 'btn-outline-success'}  %}
            </div>
        </div>
    </div>
{% endblock %}